@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #041121;
  --background2: #09192e;
  --foreground: #ededed;
  --span-color: #64ffda;
}

body {
  background: linear-gradient(to top, #09192e, #041121);
  color: var(--foreground);
  font-family: var(--font-fira);
}
.heading-font {
  font-family: var(--font-fira);
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #9ca3af;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 2px;
}

/* Add to your Tailwind CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
